$background-color: #eee;
$primary-color: rgba(244, 72, 88, 1);

.status-bar {
  background: $background-color;
  height: 40px;
  padding: 0 120px;

  .layout-row {
    padding-top: 10px;
  }
}

span {
  color: gray;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;

  &.active {
    color: $primary-color;
  }
}

