$color: rgba(255, 255, 255, .6);
$border-color: rgb(169, 51, 55);

.search-input-container {
  margin-bottom: 20px;
  position: relative;

  input {
    background: black;
    border: none;
    border-bottom: 3px solid $border-color;
    color: $color;
    font-size: 14px;
    padding: 15px 20px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  i {
    color: $color;
    position: absolute;
    right: 20px;
    top: 15px
  }
}